%table
  %tbody
    %tr
      %td.image
        %a{href: "product.html"}
          %img{title: "product", alt:"product", src: image_url("prodcut-40x40.jpg"), height:"50", width:"50"}
      %td.name
        %a{href:"product.html"}= "MacBook"
      %td.quantity
        x&nbsp;1
      %td.total
        $589.50
      %td.remove
        %i.icon-remove
    %tr
      %td.image
        %a{href: "product.html"}
          %img{title: "product", alt: "product", src: image_url("prodcut-40x40.jpg"), height: "50", width: "50"}
      %td.name
        %a{href: "product.html"}= "MacBook"
      %td.quantity
        x&nbsp;1
      %td.total
        $589.50
      %td.remove
        %i.icon-remove