%form.form-horizontal
  .row
    .span6
      = form_fieldset_header t('.account_info_title'), t('.account_info_description')
      %fieldset
        .control-group
          %label.control-label
            %span.red *
            Email:
          .controls
            %input.input-xlarge{type: "text"}
        .control-group
          %label.control-label
            %span.red *
            Password
          .controls
            %input.input-xlarge{type: "text"}
        .control-group
          %label.control-label
            %span.red *
            Confirmation
          .controls
            %input.input-xlarge{type: "text"}
      = form_fieldset_header t('.personal_details_title'), t('.personal_details_description')
      %fieldset
        .control-group
          %label.control-label
            First Name:
          .controls
            %input.input-xlarge{type: "text"}
        .control-group
          %label.control-label
            Last Name:
          .controls
            %input.input-xlarge{type: "text"}
    .span6
      %img{src: image_path('product1.jpg')}
    .clearfix
    .form-actions
      %input{type: 'submit', value: 'Create account', class: 'btn btn-success'}