%section.login
  .container
    = breadcrumb [t('site.sections.home'), root_path], t('site.sections.registration')
    = main_page_header t('.page_header')
    = render partial: 'devise/registrations/form'