#footer
  %section.footersocial
    = render partial: 'shared/footer/social'
  %section.footerlinks
    = render partial: 'shared/footer/links'
  %section.copyrightbottom
    = render partial: 'shared/footer/copyright'
  #a#gotop{href: "#"}= "Back to top"