%li
  %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}= "Products"
  %div.dropdown-menu
    - @categories.in_groups_of(5, false) do |group|
      %ul.arrow
        - group.each do |category|
          %li
            %a{href: category_path(category)}
              = category.name
              = "(#{category.products_count})"