.container
  .info
    %ul
      %li
        %a{:href => "#"} Privacy Policy
      %li
        %a{:href => "#"} Terms & Conditions
      %li
        %a{:href => "#"} Affiliates
      %li
        %a{:href => "#"} Newsletter
  #footersocial
    %a.facebook{:href => "#", :title => "Facebook"} Facebook
    %a.twitter{:href => "#", :title => "Twitter"} Twitter
    %a.linkedin{:href => "#", :title => "Linkedin"} Linkedin
    %a.rss{:href => "#", :title => "rss"} rss
    %a.googleplus{:href => "#", :title => "Googleplus"} Googleplus
    %a.skype{:href => "#", :title => "Skype"} Skype
    %a.flickr{:href => "#", :title => "Flickr"} Flickr