.container
  .row
    .span3.aboutus
      %h2 About Us
      %p
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .span3.contact
      %h2 Contact Us
      %ul
        %li.phone
          +123 456 7890, +123 456 7890
        %li.mobile
          +123 456 7890, +123 456 7890
        %li.email
          test@test.com
    .span3.twitter
      %h2 Twitter
    .span3.facebook
      %h2 Facebook