%h2 New Customer
.loginbox
  %h4 Register Account
  %p 
    By creating an account you will be able to shop faster, be up to date on an order's status, 
    and keep track of the orders you have previously made.
    %a{href: new_user_registration_path}= "Do you want to sign up?"
