%section#login
  .container
    = breadcrumb [root_path, 'Home'], ['Login']
    = main_page_header "Account Login"
    .row 
      .span6.login-form
        = render partial: 'devise/sessions/login'
      .span6
        = render partial: 'devise/sessions/registration'