%section#login
  .container
    = breadcrumb [t('size.sections.home'), root_path], t('site.sections.login')
    = main_page_header t('.page_header')
    .row 
      .span6.login-form
        = render partial: 'devise/sessions/login'
      .span6
        = render partial: 'devise/sessions/registration'