%section#login
  .container
    %ul.breadcrumb
      %li
        %a{:href => "#"} Home
        %span.divider /
      %li
        %a{:href => "#"} Account
        %span.divider /
      %li.active Login
    .row
      .span12
        %h1.headingmain
          %span Account Login
    .row 
      .span6.login-form
        = render partial: 'devise/sessions/login'
      .span6
        = render partial: 'devise/sessions/registration'