.container  
  .btn-toolbar
    %a.btn.btn-success{href: new_admin_product_path}= t('.new')
    .pull-right
      = render partial: 'admin/shared/search'

  = render partial: 'products/list', locals: { products: @products, admin: true }
  
  .pull-right
    = paginate @products