%li.dropdown
  %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
    RUB
    %b.caret
  %ul.dropdown-menu
    %li
      %a{href:"#"}= "RUB"
    %li
      %a{href:"#"}= "USD"
    %li
      %a{href:"#"}= "EUR"