%li.dropdown
  %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
    = t("languages.#{current_language}")
    %b.caret
  %ul.dropdown-menu
    %li
      %a{href: url_for(locale: 'en')}= t('languages.en')
    %li
      %a{href: url_for(locale: 'ru')}= t('languages.ru')