#main-nav.navbar.navbar-fixed-top
  .container
    %button{class: "btn btn-navbar", type: "button", data: {target: ".nav-collapse", toggle: "collapse"}}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    
    = render partial: 'shared/navbar/menu'
    %ul#navbar-right.nav.pull-right
      = render partial: 'shared/navbar/language'
    
    
          
            