%nav.nav-collapse.collapse{style: "height:0px"}
  %ul.nav
    %li.active
      %a{href: "index.html"}= "Home"
    %li
      %a{href: "myaccount.html"}= "My Account"
    %li
      %a{href: "shopping-cart.html"}= "Shopping Cart"
    %li
      %a{href: "checkout.html"}= "Checkout"