.container
  .row
    .span6
      %a.logo{href: "index.html"}
        %h1.headingfull
          %span= "shopinvk.com"
          %small= "v2.0"
    .span6
      .row
        .pull-right.logintext
          Hey, welcome! Here you can
          %a{href: "login.html"}="login"
          or 
          %a{href:"register.html"}= "create an account"
      %form.form-search.marginnull.topsearch.pull-right
        %input.input-xlarge.search-query.search-icon-top{type: "text", placeholder: 'Enter search here...'}