.container
  .row
    .span6
      %a.logo{href: root_path}
        %h1.headingfull
          %span= "shopinvk.com"
          %small= "v2.0"
    .span6
      %form.form-search.marginnull.topsearch.pull-right
        %input.input-xlarge.search-query.search-icon-top{type: "text", placeholder: 'Enter search here...'}