.container
  .row
    .span6
      %a.logo{href: root_path}
        %h1.headingfull
          %span= "shopinvk.com"
          %small= "v2.0"
    .span6
      .row
        .pull-right.logintext
          Hey, welcome! Here you can
          %a{href: new_user_session_path}="login"
          or 
          %a{href: new_user_registration_path}= "create an account"
      %form.form-search.marginnull.topsearch.pull-right
        %input.input-xlarge.search-query.search-icon-top{type: "text", placeholder: 'Enter search here...'}