.accountbox {
  margin-bottom: 20px;
  padding: 0px 15px;


  ul {
    margin: 0;
    padding: 0;
  }


  ul li {
    border-bottom: 1px dashed #E7E7E7;
    display: block;
  }


  ul li a {
    background: image-url("arrowcategory.png") no-repeat scroll 10px center rgba(0, 0, 0, 0);
    color: #999999;
    display: block;
    padding: 5px 5px 8px 30px;
  }
}