#footer {
  margin-top: 40px;
  
  ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
  }

  ul li {
    list-style: none outside none;
  }

  .footerlinks {
    background: none repeat scroll 0 0 #E7E7E7;
    color: #999999;
    padding: 10px 0 10px;

    .info {
      float: left;
      margin-top: 5px;
    }

    ul li {
      background: image-url("seperate-main-nav-f.png") no-repeat scroll right 3px rgba(0, 0, 0, 0);
      display: inline-block;
    }

    ul li a {
      color: #999999;
      padding: 5px 10px;
    }

    ul li:first-child a {
      padding-left: 0;
    }


    #footersocial {
      float: right;
      margin-right: -12px;

      a {
        background: image-url("footericon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: block;
        float: left;
        height: 30px;
        margin-bottom: 5px;
        margin-right: 11px;
        overflow: hidden;
        text-indent: -9999px;
        transition: all 0.2s ease 0s;
        width: 30px;
      }

      a:hover { 
        -moz-transition: all .2s ease ; 
        -webkit-transition: all .2s ease; 
        -o-transition: all .2s ease;
      }

      a.facebook { 
        background-position:0 -6px; 
      }
      a.facebook:hover { 
        background-position:0 -47px;  
      }
      a.twitter { 
        background-position:-40px -6px;
      }
      a.twitter:hover { 
        background-position:-40px -47px;
      }
      a.linkedin { 
        background-position:-80px -6px;
      }
      a.linkedin:hover { 
        background-position:-80px -47px;
      }
      a.blooger { 
        background-position:-118px -6px;
      }
      a.blooger:hover { 
        background-position:-118px -47px;
      }
      a.rss { 
        background-position:-155px -6px;
      }
      a.rss:hover { 
        background-position:-155px -47px;
      }
      a.dig { 
        background-position:-194px -6px;
      }
      a.dig:hover { 
        background-position:-194px -47px;
      }
      a.googleplus { 
        background-position:-234px -6px;
      }
      a.googleplus:hover { 
        background-position:-234px -47px;
      }
      a.skype { 
        background-position:-271px -6px;
      }
      a.skype:hover { 
        background-position:-271px -47px;
      }
      a.flickr { 
        background-position:-309px -6px;
      }
      a.flickr:hover { 
        background-position:-309px -47px;
      }
    }
  }

  .footersocial {
    background: image-url("footerbg1.png") repeat-x scroll 0 -5px #FFFFFF;
    padding: 80px 0 50px;

    h2 {
      background: image-url("spanheading.png") no-repeat scroll right center #FFFFFF;
      font-size: 22px;
      margin-bottom: 25px;
      padding: 7px 27px 11px 10px;
      text-shadow: none;
    }

    p {
      text-align: justify;
    }

    .aboutus h2 {
      background: image-url("spanheadingr.png") no-repeat scroll left center #FFFFFF;
      padding: 7px 10px 7px 30px;
      text-align: left;
    }
    .contact h2 {
      background: image-url("spanheading.png") no-repeat scroll center center #FFFFFF;
      text-align: center;
      margin-bottom: 15px;
    }

    .twitter h2 {
      background: image-url("spanheading.png") no-repeat scroll center center #FFFFFF;
      text-align: center;  
    }

    .facebook h2 {
      text-align: right;
    }

    .contact {
      ul li {
        background: image-url("contacticons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        padding: 20px 0 0 45px;
      }

      ul li.phone {
        background-position: 0 10px;
      }

      ul li.mobile {
        background-position: 0 -43px;
      }

      ul li.email {
        background-position: 0 -96px;
      }
    }
  }

  .copyrightbottom {
    background: none repeat scroll 0 0 #6A7274;
    color: #FFFFFF;
    padding: 15px 0;

    a {
      color: #FFFFFF;
    }
  }

  #gotop {
    background: image-url("gotop.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 2px;
    display: block;
    height: 58px;
    overflow: hidden;
    position: fixed;
    right: 5px;
    text-indent: -9999px;
    width: 58px;
    cursor: pointer;
  }
}