#main-nav {
  background: image-url("main-nav.png") repeat-x scroll 0 bottom #6A7274;
  height: 45px;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  box-shadow: none;
  color: #FFFFFF;
}

.navbar .nav > li > a {
  color: #FFFFFF;
  float: none;
  line-height: 19px;
  padding: 9px 10px 11px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.navbar .nav > li > a {
  color: #FFFFFF;
  float: none;
  line-height: 19px;
  padding: 9px 10px 11px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}