h1 {
  background: image-url("heading1bg.png") repeat-x scroll 0 17px rgba(0, 0, 0, 0);
  font-family: 'Ubuntu',sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 0 0 8px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

h2 {
  font-family: 'Ubuntu',sans-serif;
  font-size: 20px;
  margin-bottom: 15px;
  padding: 0 0 8px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

h1.headingfull span, h1 span {
  background: image-url("spanheading.png") no-repeat scroll right center #FFFFFF;
  color: #4B5B58;
  padding: 10px 30px 13px 10px;
}

h3 {
  color: #0787C4;
  font-family: 'Ubuntu',sans-serif;
  font-size: 17px;
  margin-bottom: 10px;
  padding: 0 0 8px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

h4 {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0 0 8px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

h1, h2, h3, h4, h5 {
  color: #666666;
  font-weight: normal;
}
