.login-form {
  
  .form-actions {
    background-color: #FFF;
    border-top: none;
    border-bottom: 1px solid #E5E5E5;
  }

  .devise-links {
    text-align: right;

    a.devise-link {
      display: block;
    }
  }
}