.newcustomer {
  margin-left: 5%;
}

.newcustomer, .returncustomer {
  margin-top: 20px;
  border: 1px solid #E7E7E7;
  border-radius: 5px 5px 5px 5px;
  float: left;
  padding: 15px 20px;
  width: 40%;

  .form-actions {
    margin-right: 80px;
    border: none;
    background-color: #FFFFFF;
  }
}