body {
  color: #999999;
  font-family: 'Open Sans',calibri,Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 21px;
}

ul li {
  list-style: none outside none;
}

a {
  color: #666666;
  text-decoration: none;
}
a:hover { 
  text-decoration:none; color:#0787C4
}

a, a:hover, input, select, textarea, img, input:focus, select:focus, texarea:focus { 
  transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
  -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

.label, .badge {
  color: #FFFFFF;
  font-weight: normal;
  line-height: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  white-space: nowrap;
}

.label {
  border-radius: 3px 3px 3px 3px;
  padding: 1px 4px 2px;
}

.label-success, .badge-success {
  background-color: #0787C4;
}


.carticon {
  background: image-url("carticon.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 23px;
  line-height: 23px;
  vertical-align: text-top;
  width: 23px;
}

.font14 {
  font-size: 14px;
}

.textright {
  text-align: right;
}

.well {
  background: none repeat scroll 0 0 #FFFFFF;
  border: medium none;
  padding: 10px;
  box-shadow: none;
}


#maincontainer {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 40px 0 20px;
}

.breadcrumb {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

  .divider {
    color: #CCCCCC;
    padding: 0 5px;
  }
}

section {
  padding-top: 0;
}

h1 {
  background: image-url("heading1bg.png") repeat-x scroll 0 17px rgba(0, 0, 0, 0);
  font-family: 'Ubuntu',sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 0 0 8px;
  text-shadow: 1px 1px 1px #FFFFFF;
}

h1, h2, h3, h4, h5 {
  color: #666666;
  font-weight: normal;
}

h1.headingfull span, h1 span {
  background: image-url("spanheading.png") no-repeat scroll right center #FFFFFF;
  color: #4B5B58;
  padding: 10px 30px 13px 10px;
}


.flex-direction-nav a:before {
  font-size: 20px;
}

.bgnone {
  background: none repeat scroll 0 0 #FFFFFF;
  padding-left: 0;
}