body {
  color: #999999;
  font-family: 'Open Sans',calibri,Arial,Helvetica,sans-serif;
  font-size: 13px;
  line-height: 21px;
}

ul li {
  list-style: none outside none;
}

a {
  color: #666666;
  text-decoration: none;
}
a:hover { 
  text-decoration:none; color:#0787C4
}

a, a:hover, input, select, textarea, img, input:focus, select:focus, texarea:focus { 
  transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
  -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
}

.label, .badge {
  color: #FFFFFF;
  font-weight: normal;
  line-height: 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  white-space: nowrap;
}

.label {
  border-radius: 3px 3px 3px 3px;
  padding: 1px 4px 2px;
}

.label-success, .badge-success {
  background-color: #0787C4;
}


.carticon {
  background: image-url("carticon.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 23px;
  line-height: 23px;
  vertical-align: text-top;
  width: 23px;
}

.font14 {
  font-size: 14px;
}

.textright {
  text-align: right;
}

.well {
  background: none repeat scroll 0 0 #FFFFFF;
  border: medium none;
  padding: 10px;
  box-shadow: none;
}


#maincontainer {
  background: none repeat scroll 0 0 #FFFFFF;
  padding: 0px 0 20px;
}

ol.carousel-indicators > li {
  background-color: #0787C4;
  opacity: 0.8;
}

.breadcrumb {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

  .divider {
    color: #CCCCCC;
    padding: 0 5px;
  }
}

section {
  padding-top: 0;
}

.flex-direction-nav a:before {
  font-size: 20px;
}

.bgnone {
  background: none repeat scroll 0 0 #FFFFFF;
  padding-left: 0;
}


.red {
  color: #FF0000;
}

.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FFFFFF;
  border-color: -moz-use-text-color #E7E7E7 #E7E7E7;
  border-image: none;
  border-radius: 3px 3px 3px 3px;
  border-right: 1px solid #E7E7E7;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  padding: 15px;
  min-height: 400px;
}

.logo h1 {
  text-transform: uppercase;
  font-size: 40px;

  small {
    text-transform: none;
    font-size: 12px;
  }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}