body { 
  font-family: 'Open Sans', calibri, Arial, Helvetica, sans-serif; 
  font-size: 13px; 
  line-height: 21px; 
  color: #999999; 
}

a {
  color: #666; 
  text-decoration: none;
}

a:hover { 
  text-decoration: none; 
  color: #0787C4;
}

h1, h2, h3, h4, h5 { 
  font-weight: normal;
}

