.categorytitle {
  margin: 0 0 35px;
}

a.prdocutname {
  color: #0787C4;
  display: block;
  font-family: 'Ubuntu',sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0;
  text-shadow: 1px 1px 1px #FFFFFF;
}


.sale {
  background: image-url("sale.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: block;
  float: left;
  height: 68px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-indent: 9999px;
  top: 0;
  width: 68px;
}


.oldprice {
  color: #999999;
  font-size: 16px;
  line-height: 22px;
  text-decoration: line-through;
}

.newprice {
  color: #0787C4;
  display: block;
  font-size: 18px;
  line-height: 22px;
}

.thumbnail {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 4px 4px 4px 4px;
  display: block;
  line-height: 1;
  margin-top: 5px;
  padding: 4px;
  position: relative;
}

.thumbnail:hover { 
  -webkit-box-shadow: 0 1px 4px rgba(54, 62, 71, 0.4); 
  -moz-box-shadow: 0 1px 4px rgba(54, 62, 71, 0.4); 
  box-shadow: 0 1px 4px rgba(54, 62, 71, 0.4); 
}

.thumbnail:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.thumbnail a > img {
  display: block;
  margin: 0 auto;
}

.thumbnail .caption {
  padding: 9px;
}

.thumbnail .newprice {
  background: none repeat scroll 0 0 #6A7274;
  color: #FFFFFF;
  display: block;
  font-size: 18px;
  line-height: 22px;
  padding: 2px 5px;
}

.thumbnail .cartadd {
  background: image-url("cartadd.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  float: right;
  height: 57px;
  overflow: hidden;
  text-indent: -9999px;
  width: 57px;
}

.thumbnail .links {
  display: block;
  margin-left: -5px;
  padding: 10px 0;
}

.thumbnail a:hover, .links a:hover { 
  color:#0787C4 
}

div.thumbnail:hover .cartadd { 
  background-position: right 0 
}

.links a.info {
  background-position: 0 0;
}

.links a.wishlist {
  background-position: 0 -24px;
}


.thumbnail .links a.compare {
  background-position: 0 -50px;
}

.links a {
  background: image-url("productlinkicon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  line-height: 24px;
  margin-right: 5px;
  padding: 0 0 0 20px;
}

.list .details {
  line-height: 18px;
  margin: 10px;
}


.list .thumbnail .links {
  float: right;
  margin-top: 78px;
}

.thumbnail .caption {
  padding: 9px;
}

ul.thumbnails.list .price {
  margin-top: 5px;
}

#product {
  margin-bottom: 20px;
}

h1.productname {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #0787C4;
  font-size: 30px;
  margin: 0 0 20px;
}


.productprice {
  clear: both;
  margin: 0 0 30px;
}

.proldprice {
  color: #999999;
  display: block;
  float: left;
  font-size: 30px;
  line-height: 24px;
  margin-right: 15px;
  text-decoration: line-through;
}

.prnewprice {
  color: #000000;
  display: block;
  font-size: 30px;
  line-height: 24px;
}


.quantitybox:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.quantitybox {
  background: none repeat scroll 0 0 #F5F5F5;
  border-radius: 4px 4px 4px 4px;
  display: block;
  margin: 40px 0;
  padding: 15px 15px;
}

.selectsize {
  float: left;
  margin-right: 10px;
  width: 170px;
}

.selectqty {
  float: left;
  margin-right: 10px;
  width: 100px;
}

.productlinks {
  margin: 6px 0 0 10px;
}

ul.productinfo {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}


ul.productinfo li {
  display: block;
  list-style: none outside none;
  padding: 5px 0;
}

ul.productinfo li .productinfoleft {
  float: left;
  font-weight: bold;
  width: 160px;
}

ul.reveiw {
  margin: 0;
  padding: 0;
}

ul.reveiw li {
  list-style: none outside none;
}

ul.reveiw > li {
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 22px;
  padding: 5px 0 10px;
}

ul.reveiw li .title {
    font-size: 20px;
}


ul.reveiw li .date {
  float: right;
  font-size: 14px;
}

ul.reveiw ul.rate {
  margin: 10px 0;
}

ul.rate li {
  background: image-url("rate.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

ul.rate li.on {
  background-position: left top;
}

ul.rate li.off {
  background-position: left -24px;
}

.product-image {
  width: 600px;
  border-color: #E7E7E7 #E7E7E7;
  border-image: none;
  border-radius: 3px 3px 3px 3px;
  border-style: solid solid;
  border-width: 1px 1px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}