#product-photo-slider.carousel.slide
  %ol.carousel-indicators
    - 0.upto(@photos.count - 1) do |idx|
      %li{"data-slide-to" => idx, "data-target" => "#product-photo-slider", class: ('active' if idx == 0)}
  .carousel-inner
    - @photos.each_with_index do |photo, idx|
      .item{class: ('active' if idx == 0)}
        %img{:src => photo.image_url}
        .carousel-caption
          %h4= photo.name
          %p= photo.description
  - if @photos.count > 1
    %a.carousel-control.left{"data-slide" => "prev", :href => "#product-photo-slider"} &lsaquo;
    %a.carousel-control.right{"data-slide" => "next", :href => "#product-photo-slider"} &rsaquo;