%section#product
  .container
    .row
      .span5
        = render partial: 'products/photos'
      .span7
        = render partial: 'products/info'
%section#related
  .container
    %h1.headingfull
      %span= "Related Products"
    %section#thumbnails
      = render partial: 'products/grid', locals: {products: @related_products}